<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Welcome Page</title>

    <%- include("./_share/stylesheets.ejs") %>
  </head>

  <body>
    <%- include("./_share/navbar.ejs") %>

    <main role="main" class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1>ようこそ Node.js + Express の世界へ</h1>
      </div>
      <p class="lead">
        Use this document as a way to quickly start any new project.<br />
        All you get is this text and a mostly barebones HTML document.
      </p>
    </main>

    <%- include("./_share/javascripts.ejs") %>
  </body>
</html>
