<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>新規記事登録</title>

    <%- include("../../_share/stylesheets.ejs") %>
  </head>

  <body>
    <%- include("../../_share/navbar.ejs") %>

    <main role="main" class="container">
      <div class="border-bottom mt-5 mb-5">
        <h1>新規記事登録</h1>
      </div>
      <div class="alert alert-success">登録完了</div>
    </main>

    <%- include("../../_share/javascripts.ejs") %>
  </body>
</html>
