<div class="card my-3">
  <a href="/posts<%= url %>">
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <p class="card-text"><%= content %></p>
    </div>
  </a>
</div>
